<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot</title>
</head>

<body>
    <div class="container">
        <h2>Hi
            <%=displayName%> !</h2>
        <br>
        <h3>we have received your request to reset your password, if it's you, please copy the below token</h3>
        <br>
        <a>
            <%=token%>
        </a>
        <br>
        <h3>Regards</h3>
        <h4>AppChat</h4>


    </div>


</body>

</html>