<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>

<body>
    <div class="container">
        <h2>Hi
            <%=name%> !
        </h2>
        <br>
        <h3>Please click the button below to verify your email address</h3>
        <br>
        <form action="https://localhost:3000/start/handleemail" method="GET">
            <input type="hidden" value="<%=token%>" name="token" />

            <button type="submit">Verify Email</button>
        </form>
        <br>
        <h3>Regards</h3>
        <h4>AppChat</h4>
        <hr> If you are having trouble clicking the button, copy and paste this URL to Web Brower :
        <%=url%>

    </div>


</body>

</html>